@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}

body {
    background-color: rgb(37, 36, 36);
  font-family: 'Space Mono', serif;
  color: rgb(4, 218, 4);
  overflow-x: hidden;
  height: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(138, 45, 224);
    font-weight: 700;
    margin: 0;
}

button {
    background-color: rgb(138, 45, 224);
    border-radius: 5px;
    color: white;
}

button:hover {
    border: 1px solid rgb(4, 218, 4);
}

input {
    background-color: rgb(4, 218, 4);
    border: none;
    border-radius: 5px;
    font-family: 'Space Mono', serif;
    font-style: italic;
    color: black;
}