@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}

body {
    background-color: rgb(37, 36, 36);
  font-family: 'Space Mono', serif;
  color: rgb(4, 218, 4);
  overflow-x: hidden;
  height: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
}

label,
textarea {
    margin: 1rem 0;
}

textarea {
    background-color: white;
    font-family: 'Space Mono', serif;
    color: black;
    width: 100%;
    min-width: 300px;
    height: 100px;
    padding: 1rem;
}

textarea::placeholder {
    font-style: italic;
}

button {
    background-color: rgb(138, 45, 224);
    border: none;
    border-radius: 10px;
    font-family: 'Space Mono', serif;
    color: white;
    padding: 0.5rem;
}

button:hover {
    background-color: rgb(150, 37, 255);
}

.wrapper {
    width: 70vw;
    margin: 0 auto;
}

.border-radius-15 {
    border-radius: 15px;
}